## creating dataframe

In [50]:
import pandas as pd

# Define the data
data = {
    'Name': ['Nikhil', 'Sanchit', 'Aditya', 'Sagar'],
    'Branch': ['CSE', 'CSE', 'IT', 'IT'],
    'Year': [2, 2, 2, 1],
    'CGPA': [9.0, 9.1, 9.3, 9.5]
}

# Create a DataFrame
df = pd.DataFrame(data)
df

      Name Branch  Year  CGPA
0   Nikhil    CSE     2   9.0
1  Sanchit    CSE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     IT     1   9.5

## To find the average CGPA of the students

In [58]:

avg_df = df['CGPA'].mean()
print("Avareage of CGPA's is")
avg_df

Avareage of CGPA's is

9.225000000000001

## To display the details of all students having CGPA > 9

In [54]:
high_cgpa_students = df[df['CGPA'] > 9]
print("Students with CGPA > 9:")
high_cgpa_students

Students with CGPA > 9:

      Name Branch  Year  CGPA
1  Sanchit    CSE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     IT     1   9.5

## To display the details of all CSE students with CGPA > 9

In [55]:
cse_high_cgpa_students = df[(df['Branch'] == 'CSE') & (df['CGPA'] > 9)]
print("CSE Students with CGPA > 9:")
cse_high_cgpa_students

CSE Students with CGPA > 9:

      Name Branch  Year  CGPA
1  Sanchit    CSE     2   9.1

## To display the details of student with maximum CGPA

In [56]:
max_cgpa_student = df[df['CGPA'] == df['CGPA'].max()]
print("Student(s) with maximum CGPA:")
max_cgpa_student

Student(s) with maximum CGPA:

    Name Branch  Year  CGPA
3  Sagar     IT     1   9.5

## To display average CGPA of each branch

In [57]:
average_cgpa_per_branch = df.groupby('Branch')['CGPA'].mean().reset_index()
print("Average CGPA of each branch:")
average_cgpa_per_branch

Average CGPA of each branch:

  Branch  CGPA
0    CSE  9.05
1     IT  9.40